{% include 'header.html' %}

<main class="px-3">
    <h1>География</h1>
    {% load static %}
    <img src="{% static 'graphByCities.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="1350" height="900" loading="lazy"><br>
    <table style="font-size: 20px">
        <tr>
            <th>Город</th>
            <th>Уровень зарплат по городам</th>
            <th>Доля вакансий по городам</th>
        </tr>
    {% for statistic in statistics_by_cities %}
        <tr>
            <td style="font-weight: normal">{{  statistic.title  }}</td>
            <td style="font-weight: normal">{{  statistic.average_salary }}</td>
            <td style="font-weight: normal">{{  statistic.proportion }}</td>
        </tr>
    {% endfor %}
    </table>
</main>

{% include 'footer.html' %}