
{% include 'header.html' %}

<main class="px-3">
    <div class="px-3" style="margin: 5pc 50pc;">
        <h1>Development operations.</h1>
        <div class="mx-auto">
            <p style="text-align: left">Термин DevOps состоит из двух английских слов:</p>
            <p style="text-align: left">• development – развитие;</p>
            <p style="text-align: left">• operations – эксплуатация, использование.</p>
        </div>
    </div>
    <div>
        {% load static %}
        <img src="{% static 'devops.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
    <div class="px-3" style="margin: 5pc 50pc;">
        <div class="mx-auto">
            <div class="px-3 content" style="margin-bottom: 50px">
                <h2>Кто такой DevOps-инженер</h2>
                <p style="text-align: left">высококвалифицированный специалист, который отвечает за автоматизацию
    всех этапов создания приложений и обеспечивает взаимодействие
    программистов и системных администраторов. Другими словами, DevOpsинженер прорабатывает и автоматизирует сборку и доставку кода от
    разработки до производства</p>
            </div>
            <div class="px-3 content" style="margin-bottom: 50px">
                <h2>DevOps-инженер объединяет в себя сразу
                    несколько профессий:</h2>
                <p style="text-align: left">• Build-инженер – специалист по сборке кода;</p>
                <p style="text-align: left">• Reliase-инженер – специалист по выпуску кода в
                    производство;</p>
                <p style="text-align: left">• Automation-инженер – специалист по автоматизации и
                    внедрению кода;</p>
                <p style="text-align: left">• Security-инженер – специалист по тестированию программы,
                    выявлению уязвимых мест.</p>
            </div>
            <div class="px-3 content" style="margin-bottom: 50px">
                <h2>Плюсы и минусы профессии</h2>
                <ul style="  list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
                    <li style="float: left">
                        <div>
                            <h3>Достоинства:</h3>
                            <p>• высокий заработок;</p>
                            <p>• востребованность;</p>
                            <p>• интересные задачи;</p>
                            <p>• перспектива карьерного роста.</p>

                        </div>
                    </li>
                    <li style="float: right">
                        <div>
                            <h3>Недостатки:</h3>
                            <p>• непрерывное обучение;</p>
                            <p>• необходимость знать много из разных областей;</p>
                            <p>• возможны стрессовые ситуации и высокая нагрузка.</p>
                        </div>
                    </li>
                </ul>

            </div>


        </div>
    </div>
    <p class="lead">
      <a href="https://ru.wikipedia.org/wiki/DevOps" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
    <div>
        {% load static %}
        <img src="{% static 'devops.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
</main>

{% include 'footer.html' %}