{% include 'header.html' %}

<main class="px-3">
    <h1>Навыки</h1>
    {% load static %}
    <img src="{% static 'graphBySkills.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="1350" height="900" loading="lazy"><br>
    <table style="font-size: 20px">
        <tr>
            <th>Навык</th>
            <th>Количество упоминаний</th>
        </tr>
    {% for statistic in statistics_by_skills %}
        <tr>
            <td style="font-weight: normal">{{  statistic.title  }}</td>
            <td style="font-weight: normal">{{  statistic.number_of_references }}</td>
        </tr>
    {% endfor %}
    </table>
</main>

{% include 'footer.html' %}